html,
body {
    overflow: hidden;
    height: 100%;
    font: normal 12px Lucida Console, Verdana, Arial, sans-serif;
    background-color: #45968D;
    margin: 0 !important;
    padding: 0 !important;
}