.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-container.absolute-positioning {
    position: absolute;
    left: 5px;
    top: 5px;
}

.common-button {
    padding: 10px 20px;
    width: 15%;
    max-width: 200px;
    min-width: 50px;

    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.common-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.common-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.6;
}

.common-button.back-button {
    top: 10px;
    left: 10px;
}

.common-button.resign-button {
    top: 10px;
    left: 150px;
}