.game-create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
    width: auto;
    max-width: 200px;
    min-width: 50px;
    justify-content: flex-start;
}

.button-container.absolute-positioning {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 50;
}

.common-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 123, 255, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.common-button:hover {
    background-color: rgba(0, 86, 179, 0.8);
    transform: scale(1.05);
    opacity: 1;
}

.common-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.6;
}

.common-button.back-button {
    top: 10px;
    left: 10px;
}

.common-button.resign-button {
    top: 10px;
    left: 150px;
}

.text-container {
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0 auto;
}

.text-container hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-container section p {
    margin: 0;
    padding: 5px 0;
}

.email-link {
    margin: 0;
    font-weight: 900;
}

@media (max-width: 600px) {
    .text-container {
        max-width: 100%;
        padding: 10px;
        word-wrap: break-word;
        overflow-x: hidden;
    }

    .text-container h1,
    .text-container h2 {
        text-align: center;
    }

    .text-container p,
    .text-container ul {
        text-align: left;
    }
}