header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #d4d4d4;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #3794ff;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-canvas-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
}

.home-canvas {
    width: 100%;
    height: 100%;
    background-color: #252526;
    border: 1px solid #3c3c3c;
}

/* Footer styling */
footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

footer .social-media a {
    color: #3794ff;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-media a:hover {
    text-decoration: underline;
}

footer p {
    color: #d4d4d4;
    margin: 10px 0 0;
}
